<?xml version="1.0"?>
<!--
/**
 * Copyright © Aitoc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Aitoc_GoogleReviews" setup_version="1.0.0" >
        <sequence>
            <module name="Aitoc_Core"/>
        </sequence>
    </module>
</config>